http://localhost:3000 {
	# Serve static assets
	route * {
		# Handle paths like /app.ff282437ea9a6dafd8286c6f04bc2d8c25bf3e27.js by
		# removing the fingerprint if an exact match isn't found
		@fingerprinted {
			path_regexp ^([^.]+)\.[^/.]+\.([^/.]+)$
		}
		handle @fingerprinted {
			header Cache-Control "max-age=31536000, immutable"

			try_files {path} {re.1}.{re.2}

			file_server
		}

		# Cache font files forever. If they change they should be called something
		# different
		@font {
			path_regexp .woff2$
		}
		handle @font {
			header Cache-Control "max-age=31536000, immutable"
		}

		try_files {path}

		file_server
	}

	redir /index.html /

	# Serve index.html and dynamically generate and insert an importmap of bare
	# to fingerprinted file names and a list of modulepreload link tags
	handle / {
		header Content-Type text/html
		header Cache-Control "max-age=0, must-revalidate"

		root ./

		templates

		respond `
{{- define "parsefile" -}}
  {{- $visited := .VisitedPaths -}}
  {{- $path:= .Path -}}
  {{- $file:= readFile .Path -}}

  {{ if (hasSuffix ".js" $path) }} 
    {{- $_ := set $visited $path (sha1sum $file) -}}
  {{ end }}

  {{- $imports := regexFindAll "(import|export) ([^()/;\"]* from )?(\".*?\\.js\";?)" $file -1 -}}
  {{- range $imports -}}
    {{- $importPath:= clean (print (dir $path) "/" (regexReplaceAll "\"" (regexFind "\".*?\"" .) "")) -}}
    {{- if not (hasKey $visited $importPath) -}}
      {{- template "parsefile" dict "Path" $importPath "VisitedPaths" $visited -}}
    {{- end -}}
  {{- end }}
{{- end -}}

{{- $visitedPaths := dict -}}
{{- template "parsefile" dict "Path" "index.html" "VisitedPaths" $visitedPaths -}}
{{- $keys := (keys $visitedPaths) | sortAlpha -}}

{{- range $index, $part := (splitList "<head>" (readFile "./index.html")) -}}
{{- $part -}}
<head>
  {{- if eq $index 0}}
    <script type="importmap">
      {
        "imports": {
           "aspen": "/vendor/aspen.{{ (sha1sum (readFile "/vendor/aspen.js" )) }}.js",
          {{- range $index, $key := $keys }}
          "/{{ . }}": "/{{trimSuffix ".js" $key}}.{{ get $visitedPaths $key }}.js"{{ if ne $index (sub (len $keys) 1) }},{{ end }}
          {{- end }}
        }
      }
    </script>
    {{- range $keys }}
    <link rel="modulepreload" href="/{{ trimSuffix ".js" . }}.{{ get $visitedPaths . }}.js" />
    {{- end -}}
    {{- range (listFiles "/static") }}
      {{- if (hasSuffix ".css" .) -}}
      <link rel="stylesheet" href="/static/{{ trimSuffix ".css" . }}.{{ sha1sum (readFile (printf "static/%s" . )) }}.css" />
      {{- else if (hasSuffix ".woff2" .) -}}
      <link rel="preload" href="/static/{{ . }}" as="font" type="font/woff2" crossorigin />
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}`
	}
